@import url('https://fonts.googleapis.com/css?family=Montserrat');
#botao1{
	background-color: #28bfa0;
}
#botao2{
	background-color: orange;
}
h3{
	font-family: 'Montserrat', sans-serif;
}
 body {
      font-size: 20px;
      line-height: 1.8;
      color: #f5f6f7;
      font-family: 'Montserrat', sans-serif;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #f8f8f8;/* Black Gray */
      
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  #footer{
  	color: #5e5e5e;
  }
  form{
  	color: black;
  }