<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCadastroUsuario</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletCadastroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuario</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.AtualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvaPostagem</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.SalvaPostagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCadastroAdm</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletCadastroAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogoutUsuarioMeme</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletLogoutUsuarioMeme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBusca</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletBusca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeguirUsuarioMeme</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletSeguirUsuarioMeme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSalvarComentario</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletSalvarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarAdm</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.AtualizarAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarUsuarioAdm</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.AtualizarUsuarioAdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCurtir</servlet-name>
        <servlet-class>br.edu.iff.meme.servlets.ServletCurtir</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCadastroUsuario</servlet-name>
        <url-pattern>/ServletCadastroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuario</servlet-name>
        <url-pattern>/AtualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvaPostagem</servlet-name>
        <url-pattern>/SalvaPostagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCadastroAdm</servlet-name>
        <url-pattern>/ServletCadastroAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogoutUsuarioMeme</servlet-name>
        <url-pattern>/ServletLogoutUsuarioMeme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBusca</servlet-name>
        <url-pattern>/ServletBusca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeguirUsuarioMeme</servlet-name>
        <url-pattern>/ServletSeguirUsuarioMeme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSalvarComentario</servlet-name>
        <url-pattern>/ServletSalvarComentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarAdm</servlet-name>
        <url-pattern>/AtualizarAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarUsuarioAdm</servlet-name>
        <url-pattern>/AtualizarUsuarioAdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCurtir</servlet-name>
        <url-pattern>/ServletCurtir</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
